<div>
<ul class="lg:flex  font-semibold text-slate-700 text-xl gap-8 xl:gap-10  ">
    <li class=' p-3 border-t lg:border-none hover:text-emerald-600 '>
      <a [routerLink]="['']">Home</a>
    </li>
    <li class=' p-3 border-t lg:border-none hover:text-emerald-600 '>
      <a [routerLink]="['all-courses']">Allcourses</a>
    </li>
    <li class=' p-3 border-t lg:border-none hover:text-emerald-600 '>
      <a [routerLink]="['pages']">Pages</a>
    </li>
    <li class=' p-3 border-t lg:border-none hover:text-emerald-600 '>
      <a [routerLink]="['blog']">Blog</a>
    </li>
    <li class=' p-3 border-y lg:border-none hover:text-emerald-600 '>
      <a [routerLink]="['contact']">Contact</a>
    </li>
  </ul>
</div>