<app-header2 subHeading="About" heading1="About" heading2="Edule."></app-header2>

<section class="container lg:flex lg:flex-wrap flex-row mt-16">
    <div class="lg:w-1/2 w-full" >
        <img src="../../assets/shapes/about.webp" class="rounded-lg"  alt="">
    </div>
    <div class="lg:w-1/2 w-full container">
        <app-headings subHeading="Welcome to Edule." headingText1="You can join with Edule and upgrade your skill for your" headingText2="bright future." specialHeading="2"></app-headings>

           <p class="ms-10 mt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit.  praesentium sunt consectetur, labore repudiandae sint eligendi expedita sed, possimus rerum doloribus modi odit!</p> 
           <app-buttons name="Start A Course" size="L" shades="B" class="mt-5 block ms-10"></app-buttons>

        </div>

        <div>
            <app-join-us class="w-full block"></app-join-us>
       
           
        </div>
   
</section>
<app-feed-back></app-feed-back>
<app-clients></app-clients>
