<div><ul class="flex justify-center gap-5 font-semibold text-slate-700 text-lg">
    <li>
      <a>
        <app-buttons size="" name="SignIn" class="hidden lg:block" route="login"></app-buttons>
        <app-buttons size="L" name="SignIn" shades="W" class="lg:hidden" route="login" ></app-buttons>

      </a></li>
    <li>
      <a>
        <app-buttons size="L" name="SignUp" shades="W" class="hidden lg:block" route="register"></app-buttons>
        <app-buttons size="L" name="SignUp" shades="W" class="lg:hidden" route="register"></app-buttons>
      </a>
    </li>
  </ul>
</div>