<section class="h-screen bg-emerald-50 flex">
    <div class="pt-40 w-full ">
      <div class="relative container">
          <img src="../../assets/shapes/shape-23.webp" class="absolute -bottom-48 -left-24 xl:block hidden " alt="">
          <img src="../../assets/shapes/shape-24.webp" class="absolute -top-24 -right-24 z-0 xl:block hidden " alt="">
      <div class=" max-w-fit  hidden  md:block">
        <img
          src="../../assets/shapes/shape-8.png "
          alt=""
          class="animate-spin animate-duration-[4000ms] "
        />
      </div>
      <div class=" md:mt-12 relative ">
          <div class="">
          <p class="font-medium text-slate-800 text-xl"><a [routerLink]="['']" class="hover:text-emerald-600"> Home </a>// <span class="font-medium text-emerald-600">{{subHeading}}</span></p>
          <h3 class=" text-3xl md:text-5xl font-medium text-slate-800 mt-6">{{heading1}}<span class="text-emerald-600 relative"> {{heading2}} <img class="absolute right-0" src="../../assets/shapes/shape-4.webp" alt=""></span></h3>
          
          </div>  
          <div class="absolute lg:-top-10 lg:right-80 lg:flex md:right-48 md:top-0 top-32 ">
              <div class="lg:w-40 lg:h-40  rounded-full  border-2 border-emerald-600 border-opacity-20 relative flex">
                  <div class="lg:w-32 lg:h-32 flex m-auto bg-emerald-600 rounded-full "><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24 bg-emerald-600 rounded-full text-white  m-auto">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                    </svg></div>
                    <img src="../../assets/shapes/shape-6.png" class="absolute -bottom-10" alt="">
              </div>
              <div class="absolute lg:-right-72 lg:-top-10 md:-right-48 md:top-0 top-0 -right-40  ">
                <img src="../../assets/shapes/shape-5.webp" class="absolute -left-9 animate-shake animate-infinite animate-duration-[5000ms] z-0 transition-all md:block hidden " alt="">
                <img class="lg:w-60 lg:h-60 md:w-40 md:h-40 w-32 h-32  rounded-full" src="../../assets/authors/author-11.webp" alt="">
              </div>
          </div> 
      </div>
    </div>
  </div>
  </section>
  