<app-header2 subHeading="Register" heading1="Registration" heading2="Form"></app-header2>

<section class="mt-16">
    <div class="container  border-2 border-color-[rgba(48, 146, 85, 0.2);]">
        <div class="container flex flex-wrap lg:flex-nowrap justify-center">
            <div class="lg:w-1/2  bg-emerald-50 rounded-xl my-16 ">
                <img src="../../../assets/authors/register-login.webp" class="" alt="">
            </div>
            <div class="lg:w-1/2   flex-col items-center gap-y-7 flex justify-center">
                <app-headings headingText1="Register" class="block mb-4" headingText2="Now" specialHeading="2"> </app-headings>
                <input type="text" placeholder="     Name" class="w-3/4 h-12 border-2 border-color-[rgba(48, 146, 85, 0.2);] rounded-md hover:border-emerald-600">
                <input type="text" placeholder="     Email" class="w-3/4 h-12 border-2 border-color-[rgba(48, 146, 85, 0.2);] rounded-md hover:border-emerald-600">
                <input type="text" placeholder="     Password" class="w-3/4 h-12 border-2 border-color-[rgba(48, 146, 85, 0.2);] rounded-md hover:border-emerald-600">
                <input type="text" placeholder="     Confirm Password" class="w-3/4 h-12 border-2 border-color-[rgba(48, 146, 85, 0.2);] rounded-md hover:border-emerald-600">
                <app-buttons name="Create an Account" size="L" shades="B" ></app-buttons>
                <app-buttons name="SignUp with Google" size="L" shades="L"></app-buttons>
            </div>
        </div>
    </div> 
</section>